In [56]:
import numpy as np
np.random.randn(5,4)

array([[-0.84695415,  0.63638071, -0.31342332, -0.80000634],
       [-0.76738033, -1.51840006, -0.80895097, -1.67517243],
       [-0.49139747,  1.92248503,  1.43329677,  0.68002248],
       [-0.95289268, -1.03451931,  1.25210683,  0.94620487],
       [ 0.26767406,  0.5486646 ,  1.0709489 ,  0.00825936]])

In [7]:
import pandas as pd
df=pd.DataFrame(np.random.rand(5,3),['A','B','C','D','E'],[1,2,3])

In [8]:
df

          1         2         3
A  0.260636  0.658642  0.533796
B  0.687484  0.609643  0.107964
C  0.980819  0.490055  0.174907
D  0.730961  0.345907  0.613273
E  0.973964  0.478535  0.701769

In [11]:
df[1]

A    0.260636
B    0.687484
C    0.980819
D    0.730961
E    0.973964
Name: 1, dtype: float64

In [16]:
print(df.loc['A'])
df.iloc[0]

1    0.260636
2    0.658642
3    0.533796
Name: A, dtype: float64

1    0.260636
2    0.658642
3    0.533796
Name: A, dtype: float64

In [19]:
booldf=df<0

In [21]:
df[booldf]

    1   2   3
A NaN NaN NaN
B NaN NaN NaN
C NaN NaN NaN
D NaN NaN NaN
E NaN NaN NaN

In [25]:
df[(df[1]<0)|(df[2]>0)]

          1         2         3
A  0.260636  0.658642  0.533796
B  0.687484  0.609643  0.107964
C  0.980819  0.490055  0.174907
D  0.730961  0.345907  0.613273
E  0.973964  0.478535  0.701769

In [26]:
df.reset_index()

  index         1         2         3
0     A  0.260636  0.658642  0.533796
1     B  0.687484  0.609643  0.107964
2     C  0.980819  0.490055  0.174907
3     D  0.730961  0.345907  0.613273
4     E  0.973964  0.478535  0.701769

In [28]:
newindex=['1',2,3,4,5]
df['states']=newindex
df

          1         2         3 states
A  0.260636  0.658642  0.533796      1
B  0.687484  0.609643  0.107964      2
C  0.980819  0.490055  0.174907      3
D  0.730961  0.345907  0.613273      4
E  0.973964  0.478535  0.701769      5

In [29]:
df.set_index('states')

               1         2         3
states
1       0.260636  0.658642  0.533796
2       0.687484  0.609643  0.107964
3       0.980819  0.490055  0.174907
4       0.730961  0.345907  0.613273
5       0.973964  0.478535  0.701769

In [58]:
lis1=[1,2,3,7,8,9]
lis2=[4,5,6,10,11,12]
my_lis=list(zip(lis1,lis2))
my_lis

[(1, 4), (2, 5), (3, 6), (7, 10), (8, 11), (9, 12)]

In [74]:
lis1=['a1','a1','a1','a7','a7','a7']
lis2=[4,5,6,10,11,12]
my_lis=list(zip(lis1,lis2))
my_lis=pd.MultiIndex.from_tuples(my_lis)
my_lis2

MultiIndex(levels=[['a1', 'a2', 'a3', 'a7', 'a8', 'a9'], [4, 5, 6, 10, 11, 12]],
           labels=[[0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5]])

In [81]:
lis1=['a1','a1','a1','a7','a7','a7']
lis2=[4,5,6,4,5,6]
my_lis=list(zip(lis1,lis2))
my_lis=pd.MultiIndex.from_tuples(my_lis)
df=pd.DataFrame(np.random.randn(6,2),my_lis,['a','b'])

In [82]:
df

             a         b
a1 4  0.614153 -0.921907
   5  0.485819  0.278875
   6 -0.066389 -0.149448
a7 4 -1.097110  0.171624
   5 -2.016788 -0.204982
   6 -1.140537 -1.303988

In [80]:
df.loc['a1']

          a         b
4 -0.402720 -1.220396
5 -2.170450  0.234820
6 -0.267752 -0.133196

In [84]:
df.index.names=['indexes','subindex']

In [87]:
df.xs(4,level='subindex')

                a         b
indexes
a1       0.614153 -0.921907
a7      -1.097110  0.171624